/* Fonts */

@import url("https://use.typekit.net/uii4jue.css");

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "polymath", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    color: #e6e6e6;
}

/* Home */

header img {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 2rem;
    margin-bottom: 4rem;
}

/* About */

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    max-width: 80%;
}

.about p {
    font-size: 1.5rem;
}

.about img {
    border-radius: 12px;
    max-width: 30%;
    filter: grayscale(0%);
    transition: filter 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.about img:hover {
    border-radius: 4rem;
    filter: grayscale(100%);
}

/* Portfolio Grid */

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 80%;
    width: 100%;
    margin-bottom: 2rem;
}

.portfolio-grid a {
    text-decoration: none;
}

.grid-item {
    position: relative;
    background-color: #0beef4;
    color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    transition: border-radius 0.5s ease-in-out;
}

.grid-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.grid-item:hover::after {
    opacity: 1;
}

.grid-item span {
    position: relative;
    z-index: 1;
}

.grid-item:hover {
    color: #fff;
    border-radius: 4rem;
}

/* Project */

.project-info {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    max-width: 80%;
    width: 100%;
    padding-bottom: 4rem;
}

.project-info h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.project-info p {
    font-size: 1.4rem;
    font-weight: lighter;
}

.project-about {
    max-width: 70%;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 80%;
    margin-bottom: 1rem;
}

.project-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.project-gallery img.horizontal {
    grid-column: span 2;
}

.project-gallery img.vertical {
    grid-column: span 1;
}


/* Footer */

.divider {
    border: none;
    height: 1px;
    background-color: #e6e6e6;
    margin: 20px 0;
  }

footer {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.contact a {
    border: 1.5px solid #e6e6e6;
    padding: .5rem 1.2rem;
    border-radius: 36px;
    text-decoration: none;
    color: #e6e6e6;
    transition: .3s ease-in-out;
}

.contact a:hover {
    color: #0beef4;
    border: 1.5px solid #0beef4;
}

.contact span {
    font-weight: 100;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    color: #e6e6e6;
    transition: .3s ease-in-out;
}

.nav a:hover {
    color: #0beef4;
}

/* Back to top */

.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    background-color: #0beef4;
    color: #000;
    border: none;
    border-radius: 50%;
    align-items: center;
    padding: 14px 18px 8px;
    cursor: pointer;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.scroll-to-top:hover {
    background-color: #e6e6e6;
}

/* Selection */

::selection {
    background-color: #0beef4;
    color: #000;
}

/* Responsive */

@media (max-width: 768px) {

    .about {
        flex-direction: column;
    }

    .about img {
        max-width: 100%;
    }

    .portfolio-grid {
        display: flex;
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 2rem;
    }

    .nav {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .project-info {
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    .project-info h1 {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    
    .project-info p {
        font-size: 1rem;
        font-weight: 100;
    }
    
    .project-about {
        max-width: 100%;
    }

}